
:root{
    --green:rgb(39, 155, 54);
    --pink:#e5345b;
}

body{
    /*Agregar fuente*/
}

.text-success{
    color: white !important;
}

/*buttons*/
.btn:not(.nav-btns button):hover{
    background-color: var(--green);
    color: white;
    border-color: var(--green);

    transition: 0.5S;
}
.btn:not(.nav-btns button){
    background-color: white;
    color: black;
    border: 2px solid gray;
    transition: 0.5S;
    padding: 10px 28px;
    border-radius: 25px;
}
.bg-primary{
    background-color: var(--pink) !important;
}
.bg-green1{
    background-color: var(--green);
}

/*Text color*/
.text-primary{
    color: var(--green) !important;
}
/*NavBar*/
nav{
    transition: 0.5s;

}
.navbar-ani{
    background-color: var(--green);
}
.navbar-brand span{
    letter-spacing: 2px;
}

.nav-link:hover{
    color:black !important;
    transition: 0.5s;
}

.nav-item{
    border-bottom: 0.5px solid white;
}

/*header*/
#header{
    background: url(../src/bg.png) top/cover no-repeat;
}

.carousel-inner h1{
    font-size: 60px;
}
/* title */
.title h2::before{
    position: relative;
    content: ".";
    color: var(--green);
    width: 4px;
    height: 50px;
    background-color: var(--green);
    left: -20px;

}
/* Collections */
.active-filter-btn{
    background-color: var(--green) !important;
    color: white !important;
    border-color: var(--green) !important;

    transition: 0.5S;
}



.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
/*media queries*/
@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}
